/* ----- Body CSS ----- */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* ----- Header section CSS: which includes Header logo, links and hero section ----- */

.header {
  display: flex;
  flex-direction: column;
}

.header-box {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.hero-box {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.hero-tile-left,
.hero-tile-right {
  width: 470px;
}

.hero-tile-left {
  padding: 30px;
}

.hero-heading {
  font-size: 48px;
  font-weight: 900;
}

.hero-text {
  font-size: 18px;
}

button {
  cursor: pointer;
  padding: 8px 25px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  margin-top: 16px;
  font-size: 18px;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-tile-right {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background-color: #a4a5a8;
}

/* ----- Cards Section CSS: Includes cards with info text ----- */
.card {
  background-color: #f9faf8;
  text-align: center;
  padding: 30px;
  padding-bottom: 60px;
}

.card-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.info {
  max-width: 125px;
}

.card-image {
  width: 125px;
  height: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
  margin-bottom: 8px;
}

/* ----- Quote Section CSS ----- */
.quote {
  display: flex;
  background-color: #e5e7eb;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.quote-box {
  width: 50%;
}

p.quote-text {
  font-size: 20px;
  font-style: italic;
}

.signature {
  text-align: right;
  font-size: 15px;
  font-weight: 900;
}

.footer,
.quotebox {
  align-items: center;
  justify-content: center;
}

/* ----- CTA Section CSS ----- */
.cta {
  display: flex;
  flex: 1 1 0;
}

.header,
.footer {
  color: #f9faf8;
  background-color: #1f2937;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
